<div class="content">
    <form class="form-horizontal" style="margin-bottom:0px;" accept-charset="UTF-8" action="/u/sign_up" method="post">
      <div class="modal-body">
        <div class="control-group">
          <label class="control-label" style="width:38px;" for="user[u_name]">帐号</label>
          <div class="controls" style="margin-left:50px;">
            <input id="users_u_name" name="users[u_name]" type="text" <%= "placeholder=#{@user.errors[:u_name].join}" if @user.errors[:u_name] %> ><br />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" style="width:38px;" for="user[u_mail]">邮箱</label>
          <div class="controls" style="margin-left:50px;">
            <div class="input-prepend">
              <span class="add-on"><i class="icon-envelope"></i></span>
              <input id="users_u_mail" style="width:179px;" name="users[u_mail]" type="text" placeholder="example@example.com"><br />
            </div>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" style="width:38px;" for="user[password]">密码</label>
          <div class="controls" style="margin-left:50px;">
            <input id="users_password" name="users[password]" type="password" <%= "placeholder=#{@user.errors[:password].join}" if @user.errors[:password] %> ><br />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" style="width:38px;" for="user[password_confirmation]">重复</label>
          <div class="controls" style="margin-left:50px;">
            <input id="users_password_confirmation" name="users[password_confirmation]" type="password"><br />
          </div>
        </div>
      </div>
        <input class="form-submit btn btn-primary" style="float:right;margin-right:16px;" name="commit" type="submit" value="注册">
        <a href="/" class="btn" style="float:right;margin-right:10px;">返回首页</a>
    </form>
</div>
