<div class="content bs-example">
  <h4>用户资料</h4>
  <p>用户邮箱 : <%= @user.u_mail %></p>
  <p>用户名 : <%= @user.u_name %></p>
  <p>assets 地址 : <%= 'http://assets.shiyueqingxin.com:8090/' + @user.u_name %></p>
</div>
